@import './../../../variables.scss';

.navbar {
    background-color: $a;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.left-header {
    float: left;
    left: 105px;
    position: absolute;
}

.info-header {
    color: white;
    font-size: 1em;
}

.nombre-usuario{
    color: white;
    font-size: 1em;
}