<nav class="navbar">
    <button class="btn btn-primary" (click)="logout()">Logout</button>
    <div class="left-header">
        <span class="info-header" *ngIf="infoHeader">ID: <span class="font-weight-bold">{{infoHeader.idPost}}</span></span>
        <span class="info-header" *ngIf="infoHeader && infoHeader.commentsLength"> - Total: <span class="font-weight-bold">{{infoHeader.commentsLength}}</span></span>
    </div>
    <div class="nombre-usuario">Usuario: <span class="font-weight-bold">{{nombreUsuario}}</span></div>
</nav>
