@import './../../variables.scss';

html{
    background-attachment: $a;
}

h1{
    color: $a;
}

.container {
    background-color: $d;
    height: 100%;
}

label {
    color: $b;
}

form {
    background-color: $a;
    padding: 15px;
    border-radius: 5px;
}