
<button type="button" (click)="volver()" class="btn btn-app-primary">
    Volver
</button>
<div class="card" *ngIf="post">
    <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text">{{post.body}}</p>
    </div>
</div>
<h6>Comentarios</h6>
 <div class="comments" *ngIf="post">
    <div class="comment" *ngFor="let comment of comentarios">
        <h6>{{comment.name}} <small>{{comment.email}}</small></h6>
        <p>{{comment.body}}</p>
    </div>
</div>