@import './../../../variables.scss';

.card {
    padding: 5px;
    border: solid 2px $b;
    margin: 3px;
    background-color: #f64c720a;
}

.comments {
    display: flex;
    justify-content: flex-start;
}

.comment {
    width: 250px;
    border: solid 1px black;
    box-shadow: 3px 3px 5px gray;
    border-radius: 5px;
    padding: 15px;
    margin: 3px;
}