@import './../../../variables.scss';
.card {
    border: solid 2px $b;
    background-color: #0000ff0d;
}

.no-margin{
    margin: 0;
}

h3 {
    color: $a;
}

.card-title {
    color: $a;
}

.my-pagination .ngx-pagination .current {
  background: red;
}

.post-id {
  font-size: .1.2em;
  font-weight: bold;
  color: $b;
  cursor: pointer;
}
