<div class="row">
    <div class="form-group mx-sm-3 mb-2">
      <input type="number" #comentario class="form-control" id="textoBusqueda" placeholder="Posts a buscar">
    </div>
    <button type="button" (click)="buscarComentarios(comentario.value)" class="btn btn-primary mb-2">Buscar</button>
</div>
<hr />
<div class="card" *ngFor="let comentario of comentarios">
    <div class="card-body">
        <h5 class="card-title">{{comentario.name}} </h5>
        <p class="font-weight-light font-italic">{{comentario.email}}</p>
        <p class="card-text">{{comentario.body}}</p>
    </div>
</div>