@import './../../../variables.scss';

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: $a;
    margin-left: -5px;
    padding: 5px;
    text-align: right;
}
.margin-left{
    margin-left: 5px;
}